{{ "<!-- Navigation Start  -->" | safeHTML }}

	<nav id="navigation" class="sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-expand-lg navbar-light">
                          <div class="container-fluid navbar-default">
                              {{"<!-- logo -->" | safeHTML}}
                                  <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
                                    <img src="{{ .Site.Params.logo | absURL }}" alt="Logo">
                                  </a>
                              {{"<!-- logo -->" | safeHTML}}
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarmenu">
                              <ul class="navbar-nav navbar-right nav" id="top-nav">
                                <li class="nav-item"><a class="nav-link" href="#inicio"></a></li>
                                {{ $currentPage := . }}
                                {{ range $.Site.Menus.nav }}
                                   <span class="{{ if $currentPage.IsMenuCurrent "blog" .}}active{{end}}"></span>
                                   {{ if (eq .Name "Acceso" ) }}
                                   <!-- <li><a id="login" href="{{ .URL }}">{{ .Name }}</a></li>-->
                                      <li class="nav-item"><a class="nav-link" title="{{ .Post }}" href="#myModal" data-toggle="modal">Acceso</a></li>
                                   {{ else }}
                                     {{ if (eq .Name "Registro") }}
                                     <!-- <li><a id="login" href="{{ .URL }}">{{ .Name }}</a></li>-->
                                       <li class="nav-item" title="{{ $currentPage }}/{{ .Title }}"><a class="nav-link" href="#myReg" data-toggle="modal">Registro</a></li>
                                     {{ else }}
                                       {{ if (eq .Title "All") }}
                                         <li class="nav-item">
                                           <a class="nav-link" title="{{ $currentPage.Permalink }}/{{ .Title }}"  href="{{ .URL }}">{{ .Name }}</a>
                                         </li>
                                       {{ else }}
                                         {{ if ($currentPage.IsHome) }}
                                           <li class="nav-item" ><a class="nav-link" title="{{ $currentPage.Description }}a/{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a></li>
                                         {{ end }} <!-- Title -->
                                       {{ end }} <!-- All -->
                                     {{ end }} <!-- Registro -->
                                   {{ end }} <!-- Acceso -->
                                {{ end }}
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
  </nav><!-- header close -->


  
