{{ "<!-- Navigation Start  -->" | safeHTML }}

	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-expand-lg navbar-light">
                          <div class="container-fluid navbar-default">
                              {{"<!-- logo -->" | safeHTML}}
                                  <a class="navbar-brand" href="{{ .Site.BaseURL | absURL }}">
                                    <img src="{{ .Site.Params.logo | absURL }}" alt="Logo">
                                  </a>
                              {{"<!-- logo -->" | safeHTML}}
                            <!-- Brand and toggle get grouped for better mobile display -->
                              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                            {{ if .IsHome }}        
                            <div id="navbarmenu" class="collapse navbar-collapse">
                              <ul  id="top-nav" class="nav navbar-nav navbar-right">
                                <li class="nav-item active"><a href="#inicio">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                                {{ range $.Site.Menus.nav }}
                                   {{ if (eq .Name "Acceso") }}
                                   <!-- <li><a id="login" href="{{ .URL }}">{{ .Name }}</a></li>-->
                                      <li class="nav-item"><a href="#myModal" data-toggle="modal">Acceso</a></li>
                                   {{ else }}
                                      <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                                   {{ end }}
                                {{ end }}
                              </ul>
                            </div><!-- /.navbar-collapse -->
                            {{else}}
                              <div id="navbarmenu" class="collapse navbar-collapse">
                                <ul class="navbar-nav navbar-right" id="top-nav">
                                  <li class="nav-item active"><a data-scroll href="{{ $.Site.BaseURL }}#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                                  {{ range $.Site.Menus.nav }}
                                  <li class="nav-item"><a data-scroll href="{{ $.Site.BaseURL }}#{{ .URL }}">{{ .Name }}</a></li>
                                  {{ end }}
                                </ul>
                              </div><!-- /.navbar-collapse -->
                            
                            {{end}}
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->