<header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
             
  
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
                  {{ range .Site.Menus.header }}
                    {{ if (eq .Name "Registro") }}
                     <!-- <li><a id="login" href="{{ .URL }}">{{ .Name }}</a></li>-->
                      <li><a href="#myModal" data-toggle="modal">Registro</a></li>
                    {{ else }}
                      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
  <!-- Modal HTML -->
  <div id="myReg" class="modal fade">
      <div class="modal-dialog modal-login">
          <div class="modal-content">
              <div class="modal-header">
                  <div class="avatar"><i class="material-icons">&#xE7FD;</i></div>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <form id="fakeLogin" name="fakeLogin" onsubmit="return DoSubmitreg();">
                      <div class="form-group">
                          <input type="text" class="form-control" name="username" placeholder="Usuario" required="required">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Contraseña" required="required">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Apellidos y Nombre" required="required">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="telefono" placeholder="Telefono" required="required">
                  </div>
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Registrarte">
                      </div>
          </form>	
          <form style="display: none;" id="realLogin" name="realLogin">
            <input class="fullWidth" name="username" type="text" placeholder="Usuario" />
            <input class="fullWidth" name="password" type="password" placeholder="Contraseña" />
            <input class="fullWidth" name="nombre" type="text" placeholder="Apellidos y Nombre" />
            <input class="fullWidth" name="telefono" type="text" placeholder="Telefono" />
          </form>
          <form id="restricted" name="restricted" action="{{ .Site.Params.privateURL }}/restricted" method="POST" style="display: none;">
            <input id="X-CSRF-Token-input" name="X-CSRF-Token" />
          </form>
                  <div class="hint-text small"><a href="#">Olvidaste la contraseña</a></div>
              </div>
          </div>
      </div>
  </div>    
  </header><!-- header close -->